DATABASE_URL=
YANDEX_CLOUD_STORAGE_ACCESS_KEY_ID=
YANDEX_CLOUD_STORAGE_ACCESS_KEY_VALUE=
S3_BUCKET_NAME=

# Яндекс OAuth
YANDEX_OAUTH_CLIENT_ID=
YANDEX_OAUTH_CLIENT_SECRET=
YANDEX_OAUTH_REDIRECT_URI=
